<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736852011567-mac4dt294dsno2r2k5tmmc4dl1lbto91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736852011567-mac4dt294dsno2r2k5tmmc4dl1lbto91</string>
	<key>API_KEY</key>
	<string>AIzaSyDQPw0LlUnCG8ioB1WKEgSor1Oe01nvQYI</string>
	<key>GCM_SENDER_ID</key>
	<string>736852011567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmcare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pharmcare-2aded</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmcare-2aded.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736852011567:ios:a03ee8a5e22307d3f634da</string>
</dict>
</plist>